<form [formGroup]="itemForm">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Conjugê</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID" formControlName="id">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Age" formControlName="age">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>